doctype html
html
  include ./layouts/header.pug
  link(href="/bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet")
  body
  div.container-fluid.page-wrap
    div.row.d-flex.justify-content-center
      div.col-md-8.col-md-3.col-md-offset-5
        div.signup-form
          h3.Title!= message
          form(id="signup" name="signup" action="signup" method="post")
            input(type="text", name="username", placeholder=phUsername).form-control
            input(type="text", name="name", placeholder=phName).form-control
            input(type="text", name="surname", placeholder=phSurname).form-control
            div(data-provide="datepicker", data-date-format="dd/mm/yyyy", data-date-language="es", data-date-orientation="bottom auto", data-date-today-btn="true", data-date-today-highlight="true").input-group.date
              span.input-group-addon
                i.fa.fa-calendar
              input(type="text", name="birthday", placeholder=phBirthday).form-control
            input(type="email", name="email", placeholder=phEmail).form-control
            input(type="text", name="phone", placeholder=phPhone).form-control
            input(type="text", name="mobile", placeholder=phMobile).form-control
            input(type="text", name="address",  placeholder=phAddress).form-control
            input(type="password", name="password", placeholder=phPassword).form-control
            input(type="password", name="repassword", placeholder=phRepassword).form-control.repassword
            input(type="submit", class="btn btn-primary form-control", value=btnSignup)
  include ./layouts/footer.pug
  script(src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
  script(src="/bootstrap-datepicker/dist/locales/bootstrap-datepicker." + locale + ".min.js" charset="UTF-8")
  script(src="/js/bootstrap-datepicker." + locale + ".js")