div.container-fluid.xyz(ng-if="menuCrude.indexOf('e')>=0", ng-controller="DepartmentListCtrl")
  div.row
    div.col-md-4
      div(class='form-group has-feedback has-feedback-right')
        input.form-control(type="text", ng-model="search", ng-change="filter()", placeholder=phSearch)
        i(class='form-control-feedback fa fa-search')
    div.col-md-1
      select#selectPages.selectpicker(ng-model="entryLimit", multiple, data-max-options="1", title=titleDepartmentsPerPage)
        option(value="10")
          | 10 
          = msgDepartmentsPerPage
        option(value="20")
          | 20 
          = msgDepartmentsPerPage
        option(value="50")
          | 50 
          = msgDepartmentsPerPage
        option(value="100")
          | 100 
          = msgDepartmentsPerPage
  div.row
    div.col-lg-12.data.printable
      table.table.table-striped.table-condensed
        thead
          tr
            th.print-hide(style="width:25px; min-width: 25px; max-width: 25px;")
              input(type="checkbox", ng-model="allIdsSelected", ng-change="checkAll()")
            th.text-center(style="width:60px; min-width: 60px; max-width: 60px;", ng-click="sort_by('id')", title=titleClickToShortByThisColumn)=thId
            th(style="min-width: 150px;", ng-click="sort_by('name')", title=titleClickToShortByThisColumn)=thName
            th(style="min-width: 150px;", ng-click="sort_by('address')", title=titleClickToShortByThisColumn)=thAddress
            th.text-center(style="min-width: 150px;", ng-click="sort_by('phone')", title=titleClickToShortByThisColumn)=thPhone
            th.text-center(style="min-width: 150px;", ng-click="sort_by('email')", title=titleClickToShortByThisColumn)=thEmail
            th.text-center(style="width:70px; min-width: 70px; max-width: 70px;", ng-click="sort_by('office')", title=titleClickToShortByThisColumn)=thOffice
            th.print-hide(style="width:50px; min-width: 50px; max-width: 50px;")
              a.btn.btn-small.btn-success(print-div=".printable", print-div-type="list", print-div-title=titlePrintDivDepartments, title=titlePrintList, ng-disabled="filteredItems == 0")
                span.fa.fa-print
            th.print-hide(style="width:50px; min-width: 50px; max-width: 50px;")
              a.btn.btn-small.btn-warning(ng-click="newDepartment()", data-toggle="modal", title=titleNewDepartment, data-target="#departmentModal", ng-if="menuCrude.indexOf('c')>=0")
                span.fa.fa-plus
            th.print-hide(style="width:50px; min-width: 50px; max-width: 50px;")
              a.btn.btn-small.btn-primary(ng-click="deleteSelectedDepartments()", title=titleDeleteSelected, ng-disabled="!anyIdsSelected", ng-if="menuCrude.indexOf('d')>=0")
                span.fa.fa-trash
        tbody
          tr(ng-repeat="department in filtered = (departments | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit")
            td.print-hide
              input(type="checkbox", ng-model="department.isChecked", ng-change="checkDepartment($index)", value="department.id")
            td.text-center
              | {{ department.id }}
            td
              | {{ department.name }}
            td
              | {{ department.address }}
            td.text-center
              | {{ department.phone }}
            td.text-center
              | {{ department.email }}
            td
              | {{ department.office }}
            td.print-hide
              a.btn.btn-small.btn-success(ng-click="viewDepartment(department.id)", data-toggle="modal", title=titleShowData, data-target="#departmentModal", ng-if="menuCrude.indexOf('r')>=0")
                span.fa.fa-share-alt
            td.print-hide
              a.btn.btn-small.btn-warning(ng-click="editDepartment(department.id)", data-toggle="modal", title=titleModifyData, data-target="#departmentModal", ng-if="menuCrude.indexOf('u')>=0")
                span.fa.fa-pencil
            td.print-hide
              a.btn.btn-small.btn-primary(ng-click="deleteDepartment(department.id)", title=titleDeleteDepartment, ng-if="menuCrude.indexOf('d')>=0")
                span.fa.fa-trash
    div.col-lg-12(ng-show="filteredItems == 0")
      div.col-lg-12
        h4=msgNoDepartmentsFound
    div.col-lg-12(ng-show="filteredItems > 0")
      div.col-md-9
        ul.pagination-sm(uib-pagination, ng-model="currentPage", max-size="10", on-select-page="setPage(page)", boundary-links="true", total-items="filteredItems", items-per-page="entryLimit", force-ellipses="true", first-text=msgFirst, previous-text=msgPrevious, next-text=msgNext, last-text=msgLast)
      div.col-md-3.list-counter.text-right.text-nowrap.small
        = msgListing
        |  {{ filtered.length }} 
        = msgOf
        |  {{ totalItems }} 
        = msgDepartment
        | {{ departments.length > 1 ? 's.' : '.' }}
    div#departmentModal.modal.fade.in.col-xs-12.col-sm-6.col-md-6.col-md-offset-4.col-xs-offset-3(role="dialog")
      div.modal-dialog.modal-lg
        include ../crude/departments
