div.container-fluid.xyz(ng-if="menuCrude.indexOf('e')>=0", ng-controller="ThirdpartyListCtrl")
  div.row
    div.col-md-4
      div(class='form-group has-feedback has-feedback-right')
        input.form-control(type="text", ng-model="search", ng-change="filter()", placeholder=phSearch)
        i(class='form-control-feedback fa fa-search')
    div.col-md-1
      select#selectPages.selectpicker(ng-model="entryLimit", multiple, data-max-options="1", title=titleThirdpartiesPerPage)
        option(value="10")
          | 10 
          = msgThirdpartiesPerPage
        option(value="20")
          | 20 
          = msgThirdpartiesPerPage
        option(value="50")
          | 50 
          = msgThirdpartiesPerPage
        option(value="100")
          | 100 
          = msgThirdpartiesPerPage
  div.row
    div.col-lg-12.data.printable
      table.table.table-striped.table-condensed
        thead
          tr
            th.print-hide(style="width:25px; min-width: 25px; max-width: 25px;")
              input(type="checkbox", ng-model="allIdsSelected", ng-change="checkAll()")
            th.text-center(style="width:60px; min-width: 60px; max-width: 60px;", ng-click="sort_by('id')", title=titleClickToShortByThisColumn)=thId
            th.(style="width:150px; min-width: 150px; max-width: 150px;", ng-click="sort_by('name')", title=titleClickToShortByThisColumn)=thName
            th(style="width:150px; min-width: 150px; max-width: 150px;", ng-click="sort_by('address')", title=titleClickToShortByThisColumn)=thAddress
            th.text-center(style="width:60px; min-width: 60px; max-width: 60px;", ng-click="sort_by('phone')", title=titleClickToShortByThisColumn)=thPhone
            th(style="width:100px; min-width: 100px; max-width:100px;", ng-click="sort_by('email')", title=titleClickToShortByThisColumn)=thEmail
            th(style="width:80px; min-width: 80px; max-width: 80px;", ng-click="sort_by('identifier')", title=titleClickToShortByThisColumn)=thIdentification
            th.print-hide(style="width:50px; min-width: 50px; max-width: 50px;")
              a.btn.btn-small.btn-success(print-div=".printable", print-div-type="list", print-div-title=titlePrintDivThirdparties, title=titlePrintList, ng-disabled="filteredItems == 0")
                span.fa.fa-print
            th.print-hide(style="width:50px; min-width: 50px; max-width: 50px;")
              a.btn.btn-small.btn-warning(ng-click="newThirdparty()", data-toggle="modal", title=titleNewThirdparty, data-target="#thirdpartyModal", ng-if="menuCrude.indexOf('c')>=0")
                span.fa.fa-plus
            th.print-hide(style="width:50px; min-width: 50px; max-width: 50px;")
              a.btn.btn-small.btn-primary(ng-click="deleteSelectedThirdparties()", title=titleDeleteSelected, ng-disabled="!anyIdsSelected", ng-if="menuCrude.indexOf('d')>=0")
                span.fa.fa-trash
        tbody
          tr(ng-repeat="thirdparty in filtered = (thirdparties | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit")
            td.print-hide
              input(type="checkbox", ng-model="thirdparty.isChecked", ng-change="checkThirdparty($index)", value="thirdparty.id")
            td.text-center
              | {{ thirdparty.id }}
            td
              | {{ thirdparty.name }}
            td
              | {{ thirdparty.address }}
            td.text-center
              | {{ thirdparty.phone }}
            td.text-center
              | {{ thirdparty.email }}
            td
              | {{ thirdparty.identifier }}
            td.text-center
              | {{ thirdparty.isAffiliated }}
            td.print-hide
              a.btn.btn-small.btn-success(ng-click="viewThirdparty(thirdparty.id)", data-toggle="modal", title=titleShowData, data-target="#thirdpartyModal", ng-if="menuCrude.indexOf('r')>=0")
                span.fa.fa-share-alt
            td.print-hide
              a.btn.btn-small.btn-warning(ng-click="editThirdparty(thirdparty.id)", data-toggle="modal", title=titleModifyData, data-target="#thirdpartyModal", ng-if="menuCrude.indexOf('u')>=0")
                span.fa.fa-pencil
            td.print-hide
              a.btn.btn-small.btn-primary(ng-click="deleteThirdparty(thirdparty.id)", title=titleDeleteThirdparty, ng-if="menuCrude.indexOf('d')>=0")
                span.fa.fa-trash
    div.col-lg-12(ng-show="filteredItems == 0")
      div.col-lg-12
        h4=msgNot ThirdPArtiesFound
    div.col-lg-12(ng-show="filteredItems > 0")
      div.col-md-9
        ul.pagination-sm(uib-pagination, ng-model="currentPage", max-size="10", on-select-page="setPage(page)", boundary-links="true", total-items="filteredItems", items-per-page="entryLimit", force-ellipses="true", first-text=msgFirst, previous-text=msgPrevious, next-text=msgNext, last-text=msgLast)
      div.col-md-3.list-counter.text-right.text-nowrap.small
        = msgListing
        |  {{ filtered.length }} 
        = msgOf
        |  {{ totalItems }} 
        = msgThirdparty
        | {{ thirdparties.length > 1 ? 's.' : '.' }}
    div#thirdpartyModal.modal.fade.in.col-xs-12.col-sm-6.col-md-6.col-md-offset-4.col-xs-offset-3(role="dialog")
      div.modal-dialog.modal-lg
        include ../crude/thirdparties
